@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<br /><br />
<div class="border backgroundWhite">
    <header>
        <h1>@ViewData["Title"]</h1>
        <p>You have successfully logged out.</p>
        <p>We Hope to see you again soon!</p>
    </header>
</div>