@model GreButchersEFCore_V2.Models.ViewModels.ProductsViewModel
@using GreButchersEFCore_V2.Extensions
@{
    ViewData["Title"] = "Create";
}

<br />
<div class="border backgroundWhite">
    <h2 class="text-info">Create Product</h2>

    <form method="post" enctype="multipart/form-data">
        <div class="p-4 border rounded">
            <!--asp.net validation-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.ProductName"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Products.ProductName" class="form-control" />
                </div>
                <span asp-validation-for="Products.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.ProductPrice"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Products.ProductPrice" class="form-control" />
                </div>
                <span asp-validation-for="Products.ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.ProductWeight"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Products.ProductWeight" class="form-control" />
                </div>
                <span asp-validation-for="Products.ProductWeight" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.ProductImage"></label>
                </div>
                <div class="col-5">
                    <input type="file" name="file" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Categories"></label>
                </div>
                <div class="col-5">
                    <!-- using the extension method i have created the drop down menu from the data in the database-->
                    <select asp-for="@Model.Products.FkCategoryId"
                            asp-items="Model.Categories.ToSelectListItem(Model.Products.FkCategoryId)"
                            class="form-control"></select>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.ProductDescription"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Products.ProductDescription" class="form-control" />
                </div>
                <span asp-validation-for="Products.ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Stocks.StockShop"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Stocks.StockShop" class="form-control" />
                </div>
                <span asp-validation-for="Stocks.StockShop" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Stocks.StockWarehouse"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Stocks.StockWarehouse" class="form-control" />
                </div>
                <span asp-validation-for="Stocks.StockWarehouse" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Create" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
    </form>
</div>
    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }



